@import 'zeroStyle.scss';

.logo{
    position: absolute;
    width: 126.4px;
    height: 40px;
    left: 50px;
    top: 39px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .imgLogo{
        width: 40px;
        height: 40px;
        background-image: url(../img/svg/logo.svg);
    }
    p{
        align-content: center;
        letter-spacing: 1px;
        font-family: monospace;
        font-size: large;
        color: #547091;
    }
}