.logo{
    position: absolute;
    width: 126.4px;
    height: 40px;
    left: 50px;
    top: 39px;
    display: flex;
    flex-direction: row;
    .imgLogo{
        width: 40px;
        height: 40px;
        background-image: url(../img/svg/logo.svg);
    }
    p{
        letter-spacing: 2px;
        font-family: monospace;
        color: #547091;
    }
}