//@import 'zeroStyle.scss';

.logo{
    position: absolute;
    width: 126.4px;
    height: 40px;
    left: 50px;
    top: 39px;
}

.logo1{
    @extend .logo;
    left: 50px*4;
    top: 39px;
}

.imgLogo{
        width: 126px;
        height: 40px;
        background-image: url(../img/svg/logo.svg);
    }